<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Liste des gossips from the view directory</h1>
    <% gossips.each_with_index do |j, i| %>
      <p>
      <a href="/gossips/<%= (i + 1)%>"><%= j.author %></a><br/>
        <%= j.content %>
      </p>
    <% end %>
  </body>
</html>
